.single__code__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2A3439;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
    width: 94%;
}

.single__code__container:hover {
    transform: scale(1.02);
}

.notes__navigate__btn {
    cursor: pointer;
}

.code__container__btn {
    cursor: pointer;
    font-size: 32px;
    margin: 0;
}

.code__details__div {
    text-align: left;
}